modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "jq", "libiconv", "openssl", "postgresql", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
build = ["npm", "install"]

[userenv]

[userenv.shared]
RENDER_DATABASE_URL = "postgresql://neondb_owner:npg_0AR6SKNJhCTp@ep-spring-violet-ahybmy8e-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
